# Git
.git
.gitignore
.gitattributes
*.md

# Visual Studio
.vs
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.sln
*.rc
*.res
*.qrc
*.ui

# Qt GUI clients (Windows only, not for Docker)
clients/

# Build artifacts
x64
Debug
Release

# Object files
*.o
*.obj

# Temp files
*.cache
*.pdb
*.ilk
*.exp
*.lib
*.tlog
*.lastbuildstate
*unsuccessfulbuild

# IDE
.idea
*.swp
*.swo
*~
